body {
  margin: 0;
  font-family: 'Open Sans';
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
